
*{
    box-sizing: border-box;   
}

head.b{
    text-align: center;
    margin-top: 2%;
    margin-left: 45%;
    color: aliceblue;
}

body{
    background-color: rgb(54, 54, 56);
}



#form{
    margin-left: 40%;
    margin-top: 5%;
    color: aliceblue;

}

#reset{
    border-radius: 4px;
    border: solid red;
}
#submit{
    border-radius: 4px;
    border: solid green; 
}