* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Part A starts */
#container{
    margin-left: 25%;
    margin-right:25%;
    height: 100%;
    width: 50%;
    overflow:auto;
    overflow-x: scroll;
    overflow-y: hidden; 
    white-space: nowrap;
    

    
   
}
#images{
    white-space: nowrap;
    display: inline-block;
    
    
}


/* Part A ends */

  /*
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
    
  }
  
  
  /* cell number */
  /*
  .gallery-cell:before {
    display: block;
    text-align: center;
    
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  */