.nav{
    list-style-type: none;

    
}
td {
    text-align: center;
    vertical-align: middle;
  }
.myLi{
    text-decoration: none;
    float: left;
    width: 20px;
    margin-left: -10%;
    margin-right: 10%;
    background-color: beige;
    
}
body{
    background-color: #22272e;
    color: #539af3;
}
