/*
#container{
    
    height: 100%;
    width: 50%;
    overflow:hidden;
    /*overflow-y: hidden; 
    white-space: nowrap;
    position:fixed;
    display:flex;
    flex-wrap:nowrap;
   
}
#images{
    white-space: nowrap;
}

a{
    display: inline-block;
    color: aliceblue;
    text-align: center;

}
*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
    
  }
  
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    
    line-height: 200px;
    font-size: 80px;
    color: white;
  }